<table class="table table-hover" >
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Idade</th>
        <th scope="col">Peso</th>
        <th scope="col">Altura</th>
        <th scope="col">IMC</th>
        <th scope="col">Mensagem</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pes of pessoas">
        <td>{{pes.nome}}</td>
        <td>{{pes.idade}}</td>
        <td>{{pes.peso}}</td>
        <td>{{pes.altura}}</td>
        <td>{{pes.valorImc()}}</td>
        <td>{{pes.analiseImc()}}</td>
      </tr>
      <tr>
        <td>{{pessoa.nome}}</td>
        <td>{{pessoa.idade}}</td>
        <td>{{pessoa.peso}}</td>
        <td>{{pessoa.altura}}</td>
        <td>{{pessoa.valorImc()}}</td>
        <td>{{pessoa.analiseImc()}}</td>
      </tr>
    </tbody>
  </table>
