<form class="m-md-3">
    <div class="form-row">
      <div class="form-group col-md-10">
        <label>Logradouro</label>
        <input type="text" class="form-control" placeholder="Rua..." [value]="endereco.logradouro">
      </div>
      <div class="form-group col-md-2">
        <label>Número</label>
        <input type="text" class="form-control" placeholder="Numero" [value]="endereco.numero">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-5">
        <label>Complemento</label>
        <input type="text" class="form-control" [value]="endereco.complemento">
      </div>
      <div class="form-group col-md-4">
        <label>Bairro</label>
        <input type="text" class="form-control" [value]="endereco.bairro">
      </div>
      <div class="form-group col-md-3">
        <label>CEP</label>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text" (click)="consultaCep()">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <input type="text" class="form-control" placeholder="99999-999" [value]="endereco.cep" (input)="setCEP($event)">
          </div>
      </div>

      
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label>Cidade</label>
        <input type="text" class="form-control" [value]="endereco.localidade">
      </div>
      <div class="form-group col-md-2">
        <label>UF</label>
        <input type="text" class="form-control" [value]="endereco.uf">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
  </form>