<div class="form-group">
    <div class="form-row">
      <div class="col-md-12">
        <div class="form-label-group">
          <input type="text" id="Nome" class="form-control" placeholder="Nome completo" [value]="pessoa.nome" (input) = "setNome($event)"/>
        </div>
      </div>
    </div>
</div>

<div class="form-group">
    <div class="form-row">
      <div class="col-md-3">
        <div class="form-label-group">
          <input type="number" id="Peso" class="form-control" placeholder="Peso" [value]="pessoa.peso" (input) = "setPeso($event)"/>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-label-group">
          <input type="number" id="Altura" class="form-control" placeholder="Altura" [value]="pessoa.altura" (input) = "setAltura($event)"/>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-label-group">
          <input type="number" id="Idade" class="form-control" placeholder="Idade" [value]="pessoa.idade" (input) = "setIdade($event)"/>
        </div>
      </div>
      <div class="col-md-4">
        <button class="btn btn-primary" (click)="calculaImc()">Calcular</button>
      </div>
    </div>
</div>